<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.proyectodm">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProyectoDM">
        <activity
            android:name=".iu.RoundManagement"
            android:exported="false" />
        <activity
            android:name=".iu.VistaEquipo"
            android:exported="false" />
        <activity
            android:name=".iu.Help"
            android:exported="false" />
        <activity
            android:name=".iu.Options"
            android:exported="false" />
        <activity
            android:name=".iu.RegistrarJugadores"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu.GestionPapelitos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu.Instructions"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu.RoundTimer"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu.RegistrarEquipos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu.MostrarPuntuaciones"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".iu.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>